/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-bxaoge36do] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-bxaoge36do] {
  color: #0077cc;
}

.btn-primary[b-bxaoge36do] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
  margin-bottom: 15px;
}

.nav-pills .nav-link.active[b-bxaoge36do], .nav-pills .show > .nav-link[b-bxaoge36do] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-bxaoge36do] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-bxaoge36do] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-bxaoge36do] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-bxaoge36do] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-bxaoge36do] {
  position: relative;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  padding: 20px;
  line-height: 1.5;
}

.content-container[b-bxaoge36do] {
  margin-bottom: 80px;
}

.movie-edit img[b-bxaoge36do] {
  max-width: 100%;
  max-height: 300px;
  margin-bottom: 10px;
}

.form-group[b-bxaoge36do] {
  margin-bottom: 15px;
}

.back-to-list[b-bxaoge36do] {
  margin-top: 20px;
}
